openai==1.2.0
langchain==0.0.336
sentence-transformers==2.2.2
df-extract==0.0.2.1
boto3~=1.21.20
elasticsearch==8.8.2
qdrant-client==1.4.0
jq==1.4.0
httpx==0.25.0
pydantic==1.10.11
auto-gptq==0.4.0
uvicorn==0.22.0
tiktoken==0.5.1
ibm-watson-machine-learning==1.0.327
langchain-experimental==0.0.24
fastapi==0.95.1
python-dotenv==1.0.0
mysql-connector-python==8.3.0
pyodbc==5.0.1
